.unity-slider__label {
    position: absolute;
    left: -193px;
    color: rgb(141, 91, 38);
}

.unity-base-slider__dragger {
    flex-grow: 0;
    position: absolute;
    background-color: rgb(147, 147, 147);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    flex-shrink: 1;
    align-items: flex-start;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 5px;
    align-content: stretch;
    flex-direction: column-reverse;
}

.unity-base-slider__drag-container {
}

#unity-tracker {
    -unity-background-image-tint-color: rgba(44, 62, 80, 0.48);
    background-color: rgb(44, 62, 80);
    -unity-background-scale-mode: stretch-to-fill;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgba(27, 27, 27, 0);
    flex-grow: 1;
    top: 0;
}
